@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables.scss";


/* VARIABLES */

$sidenav-width: 14em;

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  background: $dark-gray3;
}

/*****************************************************************
Generic
******************************************************************/
@mixin column-split {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.row {
  @include column-split;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.column {
  display: flex;
  flex: 1;
}

.left-column {
  @extend .column;
  padding-right: 0.5em;
}

.right-column {
  @extend .column;
  padding-left: 0.5em;
}

.middle-column {
  @extend .column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.page-sections-container section {
  margin-bottom: 1em;
}

@media only screen and (min-width: 1200px) {
  .page-sections-container {
    width: calc(100% - 1em);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
  }

  .page-sections-container section {
    display: grid;
  }
}

/*****************************************************************
Custom Scrollbar Colors
******************************************************************/
/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 1em;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: $dark-gray2;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: $dark-gray1;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: $black;
}

/*****************************************************************
SelectInput Component
******************************************************************/
.height-constrained-popover {
  max-height: $pt-grid-size * 50;
  overflow-y: auto;
}

/*****************************************************************
App
******************************************************************/
.App {
  @extend .custom-scrollbar;
  width: 100%;

  main.content {
    padding: 1em;
    overflow-y: auto;
    height: calc(100vh - #{$pt-navbar-height});
  }

  .bp3-dark .logo svg {
    fill: #bfccd6;
  }

  .logo svg {
    fill: #394b59;
  }
}

/*****************************************************************
WelcomePage
******************************************************************/
.WelcomePage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  button {
    margin-bottom: 1em;
  }
}


/*****************************************************************
ProjectPage
******************************************************************/
.ProjectPage {

}


