@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

/* VARIABLES */

$sidenav-width: 14em;

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

/*****************************************************************
Generic
******************************************************************/
@mixin column-split {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  @include column-split;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.column {
  display: flex;
  flex: 1;
}

.left-column {
  @extend .column;
  padding-right: 0.5em;
}

.right-column {
  @extend .column;
  padding-left: 0.5em;
}

.middle-column {
  @extend .column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.page-sections-container section {
  margin-bottom: 1em;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.margin-top-1 {
  margin-top: 1em;
}


@media only screen and (min-width: 1200px) {
  .page-sections-container {
    width: calc(100% - 1em);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
  }

  .page-sections-container section {
    display: grid;
  }
}

/*****************************************************************
Custom Scrollbar Colors
******************************************************************/
.custom-scrollbar::-webkit-scrollbar {
  width: 1em;
}

// Light Theme
.custom-scrollbar::-webkit-scrollbar-track {
  background: $gray4;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: $gray2;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: $gray1;
}

// Dark Theme
.bp3-dark .custom-scrollbar::-webkit-scrollbar-track {
  background: $dark-gray2;
}

.bp3-dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: $dark-gray1;
}

.bp3-dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: $black;
}

/*****************************************************************
SelectInput Component
******************************************************************/
.height-constrained-popover {
  max-height: $pt-grid-size * 50;
  overflow-y: auto;
}

/*****************************************************************
App
******************************************************************/
.App {

  width: 100%;
  background-color: $light-gray2;

  main.content {
    padding: 1em;
    overflow-y: auto;
    height: calc(100vh - #{$pt-navbar-height});
  }

  .bp3-dark .logo svg {
    fill: #bfccd6;
  }

  .logo svg {
    fill: #394b59;
  }

  .bp3-dark {
    background: $dark-gray3;
  }
}

/*****************************************************************
ThemeProvider
******************************************************************/
.ThemeProvider {
  width: 100vw;
  height: 100vh;
}

/*****************************************************************
LoadingPanel
******************************************************************/
.LoadingPanel {
  width: 100vw;
  height: 100vh;
  padding-top: 25vh;
  position: absolute;
  z-index: 100;
  text-align: center;

  background: rgba(216, 225, 232, 0.9);
  text-shadow: 1px 1px 1px white;
  color: #293742;
}

.bp3-dark .LoadingPanel {
  background: rgba(24, 32, 38, 0.9);
  text-shadow: 1px 1px 1px black;
  color: #FFFFFF;
}

.LoadingPanel .text {
  max-width: 50%;
  text-align: center;
  margin: 1em auto 0.75em;
}

/*****************************************************************
SourceFileTabPage
******************************************************************/
.SourceFileTabPage{
  width: 100%;
  height: 100%;
}

/*****************************************************************
WelcomePage
******************************************************************/
.WelcomePage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;

  button {
    margin-bottom: 1em;
  }
}

.WelcomePage .welcome-section {
  width: 25em;
  text-align: center;
  margin-bottom: 2em;
}

.WelcomePage .recent-files-section {
  width: 25em;
  margin-top: 1em;
}

.WelcomePage .recent-files-section .bp3-tree-node-caret-none {
  min-width: 10px;
}

.WelcomePage .recent-files-section h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.WelcomePage .recent-files-section .bp3-tree-node {
  cursor: pointer;
}

.WelcomePage .recent-files-section .bp3-tree-node .bp3-tree-node-secondary-label .bp3-button {
  margin: 0;
}

.WelcomePage .recent-files-section .bp3-tree-node-content {
  height: 40px;
}


/*****************************************************************
LogPage
******************************************************************/
.LogPage {
  background-color: #10161a;
  width: 100%;
  height: calc(100% - #{$pt-navbar-height});
  position: absolute;
  top: $pt-navbar-height;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
}

.LogPage pre {
  @extend .custom-scrollbar;
  width: 100%;
  height: 100%;
  background-color: $dark-gray1;
  color: $pt-code-text-color;
  border: none;
  padding: 1em;
  margin: 0;
}

.LogPage .log-message {
  width: 100%;
  display: block;
  color: $light-gray5;
}

.LogPage .log-message.error {
  color: $vermilion5;
}

.LogPage .log-message.debug {
  color: $gray1;
}

.LogPage .log-message .timestamp {
  margin-right: 1em;
}

.LogPage .log-message .message {
  white-space: normal;
}


/*****************************************************************
FilesPage
******************************************************************/
.FilesPage {
  height: calc(100% - 1em);
}

.FilesPage .file-list-tab-page {
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*****************************************************************
FileBrowser
******************************************************************/
.FileBrowser {
  @extend .row;
  height: calc(100% - 0.75em);
  padding-top: 1em;
}

.FileBrowser .bp3-tree-node {
  cursor: pointer;
}

.FileBrowser .ace_scrollbar {
  @extend .custom-scrollbar;
}

.FileBrowser .file-list-container {
  @extend .custom-scrollbar;
  max-height: 100%;
  max-width: 25em;
  padding-left: 1px;
}


.FileBrowser .file-tree {
  @extend .custom-scrollbar;
  padding-top: 1em;
  max-height: calc(100% - 50px);
  overflow-y: auto;
}

.FileBrowser .viewer-container {
  max-height: 100%;
}

.FileBrowser .resource-variable-tag {
  margin-left: 1em;
  font-size: 85% !important;
}

/*****************************************************************
FontViewer
******************************************************************/
.FontViewer {
  @extend .custom-scrollbar;
  padding: 2em;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.FontViewer .font-presentation-area {
  padding-top: 2rem;
}


/*****************************************************************
ImageViewer
******************************************************************/
.ImageViewer {
  @extend .custom-scrollbar;
  height: calc(100% - 50px);
  align-items: center;
  display: flex;
}

.ImageViewer img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

