@import "~@blueprintjs/core/lib/scss/variables.scss";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

/* VARIABLES */

$sidenav-width: 14em;

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

/*****************************************************************
Generic
******************************************************************/
@mixin column-split {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


.row {
  @include column-split;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.column {
  display: flex;
  flex: 1;
}

.left-column {
  @extend .column;
  padding-right: 0.5em;
}

.right-column {
  @extend .column;
  padding-left: 0.5em;
}

.middle-column {
  @extend .column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.page-sections-container section {
  margin-bottom: 1em;
}

@media only screen and (min-width: 1200px) {
  .page-sections-container {
    width: calc(100% - 1em);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
  }

  .page-sections-container section {
    display: grid;
  }
}

/*****************************************************************
Custom Scrollbar Colors
******************************************************************/
.custom-scrollbar::-webkit-scrollbar {
  width: 1em;
}

// Light Theme
.custom-scrollbar::-webkit-scrollbar-track {
  background: $gray4;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: $gray2;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: $gray1;
}

// Dark Theme
.bp3-dark .custom-scrollbar::-webkit-scrollbar-track {
  background: $dark-gray2;
}

.bp3-dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: $dark-gray1;
}

.bp3-dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: $black;
}

/*****************************************************************
SelectInput Component
******************************************************************/
.height-constrained-popover {
  max-height: $pt-grid-size * 50;
  overflow-y: auto;
}

/*****************************************************************
App
******************************************************************/
.App {

  width: 100%;
  background-color: $light-gray2;

  main.content {
    padding: 1em;
    overflow-y: auto;
    height: calc(100vh - #{$pt-navbar-height});
  }

  .bp3-dark .logo svg {
    fill: #bfccd6;
  }

  .logo svg {
    fill: #394b59;
  }

  .bp3-dark {
    background: $dark-gray3;
  }
}

/*****************************************************************
ThemeProvider
******************************************************************/
.ThemeProvider {
  width: 100vw;
  height: 100vh;
}

/*****************************************************************
SpinnerPanel
******************************************************************/
.AppLoadingPanel {
  width: 100vw;
  height: 100vh;
  padding-top: 25vh;
  position: absolute;
  z-index: 100000000;

  background: rgba(216, 225, 232, 0.85);
  text-shadow: 1px 1px 1px white;
  color: #293742;
}

.bp3-dark .AppLoadingPanel {
  background: rgba(24, 32, 38, 0.8);
  text-shadow: 1px 1px 1px black;
  color: #FFFFFF;
}

.AppLoadingPanel .text {
  max-width: 50%;
  margin: 1em auto auto;
  text-align: center;
}

.AppLoadingPanel .log {
  position: absolute;
  bottom: 0;
  max-height: 50vh;
  width: 100%;
  margin: 1em auto auto;
  background-color: rgba(16, 22, 26, 0.75);
  z-index: 999999999999999;
}

.AppLoadingPanel .log-entry {

}

/*****************************************************************
WelcomePage
******************************************************************/
.WelcomePage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  button {
    margin-bottom: 1em;
  }
}
